deb http://deb.debian.org/debian {{ ansible_facts['lsb']['codename'] }} main contrib non-free non-free-firmware
deb http://deb.debian.org/debian-security/ {{ ansible_facts['lsb']['codename'] }}-security main contrib non-free non-free-firmware
deb http://deb.debian.org/debian {{ ansible_facts['lsb']['codename'] }}-updates main contrib non-free non-free-firmware
# Uncomment deb-src lines below then 'apt-get update' to enable 'apt-get source'
#deb-src http://deb.debian.org/debian {{ ansible_facts['lsb']['codename'] }} main contrib non-free non-free-firmware
#deb-src http://deb.debian.org/debian-security/ {{ ansible_facts['lsb']['codename'] }}-security main contrib non-free non-free-firmware
#deb-src http://deb.debian.org/debian {{ ansible_facts['lsb']['codename'] }}-updates main contrib non-free non-free-firmware